:root {
    --primary-color: #9BBFCF; /*  #508ca4 */
    --secondary-color: #cfe0dd; /* d6fff6 */
    --accent1-color: #ffddcd; /* ffddcd*/
    --accent2-color: #0d2c54; /* 0d2c54 */
    --heading-font: "Pompiere", sans-serif;
    --body-font: "Courier Prime", monospace;
    --thin-border: thin solid var(--accent2-color);
    --thick-border: thick solid var(--accent2-color);
}

a:link {
    color: var(--accent2-color);
}

a:visited {
    color: var(--accent2-color);
}

nav a:hover, button a:hover {
    background-color: var(--accent1-color);
    font-size: larger;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-weight: 400;
    color: var(--accent2-color);
    background-color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--accent2-color);
}

header, main, footer {
    max-width: 1000px;
    margin: 0 auto;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header {
    padding: 2rem;
    border-bottom: var(--thin-border);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    column-gap: 10%;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

header img {
    min-width: 150px;
    max-width: 100%;
    height: auto;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    column-gap: 1%;
}

header nav a {
    display: flex;
    max-height: min-content;
    padding: .5rem;
    border: 2px solid;
    border-radius: .5cap;
    background-color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

h1 {
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.85;
    background-color: var(--accent2-color);
    color: white;
}

.header-banner img {
    max-width: 100%;
    display: block;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);

}

section {
    padding: 1.5em;
    text-align: center;
    border: var(--thick-border);
    background-color: var(--primary-color);
    position: relative;
}


legend {
    margin-bottom: 1em;
}

textarea {
    width: 300px;
    height: 100px;
}



footer {
    padding: 1em;
    border-top: var(--thin-border);
    display: flex;
    gap: 1em;
}

footer p {
    margin: auto;
}



footer nav {
    margin: auto;
    display: flex;
}


/* Class Selectors */

.header-banner {
    position: relative;
    z-index: 1;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 60%;
    background-color: var(--accent1-color);
}

.hero article img {
    float: right;
    margin: 5px;
    width: 125px;
    border: var(--thick-border);
    box-shadow: 5px 6px rgba(80 140 164 / .5);
}

.history div {
    display: grid;
    grid-template-columns: 1fr 25% 1fr;
    justify-items: center;
    align-items: center;
    text-align: left;
}

.history img {
    max-width: 100%;
    padding: 10px;
    background-color: var(--secondary-color);
    border: var(--thin-border);
}

.overlapped {
    z-index: 2;
    margin-top: -230px;

}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    min-width: 10px;
    max-width: 30px;
    margin: 0 5px;
}

.adventure {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 1em;
}

.adventure figure img {
    max-width: 200px;
}

.adventure figure {
    margin: auto;
    padding: 10px;
    position: relative;
    display: table;
    border: var(--thin-border);
    background-color: var(--secondary-color);
}

.adventure figcaption {
    display: table-caption;
    caption-side: bottom;
    padding: 10px 0;
    letter-spacing: 1cap;
    font-weight: bold;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    border: var(--thin-border);
    border-top: 0;
}

.contact-info, .contact-request {
    text-align: left;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "phone map"
    "email map"
    "address map";
}

@media (max-width: 620px) {
    .contact-info {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "phone" "email" "address" "map";
    }
}

.contact-info h2 { 
    grid-area: header;
    margin-bottom: 1em;
}

.comp-phone { grid-area: phone; }
.comp-email { grid-area: email; }
.comp-address { grid-area: address;}

.contact-info-element {
    margin: 1em;
    font-weight: bold;
}

.employees {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.employees h2 {
    flex-basis: 100%;
    margin-bottom: 1em;
}

.employees figure {
    /* border: var(--thin-border); */
    border-radius: 30px 30px 0 0;
}

.employees figure img {
    max-width: 130px;
    vertical-align: bottom;
    border: var(--thick-border);
    border-radius: 30px;
}

.employees figcaption {
    max-width: max-content;
    min-height: max-content;
    margin: auto;
    line-height: .8em;
    padding: .5em;
    font-weight: bold;
}

.contact-request fieldset{
    margin: 1em;
    border: var(--thin-border);
}

.form-item {
    margin: 1em;
}

.title {
    font-weight: bold;
}

input, textarea {
    padding: 3px;
}

.button {
    padding: 1em;
    max-width: 100px;
    /* font-family: var(--heading-font); */

    color: var(--accent2-color);
    background-color: var(--accent1-color);
    border-radius: 30px;
}
.map {
    width: 200px;
    margin: 10px;
    border: var(--thick-border);
    grid-area: map;
    align-self: end;
    justify-self: end;
}



/* ID Selectors */

#adventure-header {
    text-align: center;
}

#contact-wireframe {
    order: -1;
    margin: auto;
    padding: .5em;
    border: var(--thin-border);
    border-radius: 3%;
    background-color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}